body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 1px;
    border: 2.8vw solid rgb(249, 62, 62); /* Adjusted border width */
    position: relative;
}

.grid-item {
    width: 100%;
    padding-bottom: 100%;
    background-color: #ccc;
}

#erase {
    position: absolute;
    left: 68vw; /* Adjusted left position */
    top: 2.5vh;  /* Adjusted top position */
    background-color: white;
    color: black;
    font-size: 3.5vh; /* Adjusted font size */
    box-shadow: 0 1.5vw 2vw rgba(0, 0, 0, 0.5); /* Adjusted shadow */
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

#clear {
    position: absolute;
    left: 68vw; /* Adjusted left position */
    top: 10vh;  /* Adjusted top position */
    background-color: white;
    color: black;
    font-size: 3.5vh; /* Adjusted font size */
    box-shadow: 0 1.5vw 2vw rgba(0, 0, 0, 0.5); /* Adjusted shadow */
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

#erase.active {
    background-color: grey; 
    color: white;
}






  
