body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8vw;
    background-color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 1px;
    border: 2.8vw solid rgb(249, 62, 62); 
    position: relative;
}

.grid-item {
    width: 100%;
    padding-bottom: 100%;
    background-color: #ccc;
}

#erase {
    position: absolute;
    left: 72vw; 
    top: 2.5vh;  
    background-color: white;
    color: black;
    font-size: 3.5vh; 
    box-shadow: 0 1.5vw 2vw rgba(0, 0, 0, 0.5); 
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

#erase.active {
    background-color: grey; 
    color: white;
}

#clear {
    position: absolute;
    left: 72vw; 
    top: 10vh;  
    background-color: white;
    color: black;
    font-size: 3.5vh; 
    box-shadow: 0 1.5vw 2vw rgba(0, 0, 0, 0.5); 
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

#rainbow {
    position: absolute;
    left: 72vw; 
    top: 17.50vh;  
    background-color: white;
    color: black;
    font-size: 3.5vh; 
    box-shadow: 0 1.5vw 2vw rgba(0, 0, 0, 0.5); 
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

#rainbow.active {
    background-color: linear-gradient(to right, 
        red, orange, yellow, green, blue, indigo, violet
    );

}

#createButton {
    font-size: 1vw; 
    width: 6vw; 
    height: 2vw; 
}

.input-container {
    font-size: 1vw;
    color: white;
}

.pencils {
    position: fixed;
    top: 50vh;
    left: 0vw;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.pencil {
    width: 8vw;
    height: 5vh;
    margin-bottom: 2vh;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 2px;
}


.pencil-tip {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2.5vh 0 3vh 3vh; 
    border-color: transparent transparent transparent white;
    margin-left:8vw ;
    margin-top: -0.2vh;
   
}

.pencil.red .pencil-tip::before {
    content: "";
    position: absolute;
    width: 1vh;
    height: 1vh;
    background-color: red; 
    border-radius: 50%;
    margin-left: -1vh; 
    margin-top: -0.4vh; 
}

.pencil.orange .pencil-tip::before {
    content: "";
    position: absolute;
    width: 1vh;
    height: 1vh;
    background-color: orange; 
    border-radius: 50%;
    margin-left: -1vh; 
    margin-top: -0.4vh; 
}

.pencil.yellow .pencil-tip::before {
    content: "";
    position: absolute;
    width: 1vh;
    height: 1vh;
    background-color: yellow; 
    border-radius: 50%;
    margin-left: -1vh; 
    margin-top: -0.4vh; 
}

.pencil.green .pencil-tip::before {
    content: "";
    position: absolute;
    width: 1vh;
    height: 1vh;
    background-color: green; 
    border-radius: 50%;
    margin-left: -1vh; 
    margin-top: -0.4vh; 
}

.pencil.blue .pencil-tip::before {
    content: "";
    position: absolute;
    width: 1vh;
    height: 1vh;
    background-color: blue; 
    border-radius: 50%;
    margin-left: -1vh; 
    margin-top: -0.4vh; 
}

.pencil.indigo .pencil-tip::before {
    content: "";
    position: absolute;
    width: 1vh;
    height: 1vh;
    background-color: indigo; 
    border-radius: 50%;
    margin-left: -1vh; 
    margin-top: -0.4vh; 
}

.pencil.violet .pencil-tip::before {
    content: "";
    position: absolute;
    width: 1vh;
    height: 1vh;
    background-color: violet; 
    border-radius: 50%;
    margin-left: -1vh; 
    margin-top: -0.4vh; 
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.indigo {
    background-color: indigo;
}

.violet {
    background-color: violet;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.indigo {
    background-color: indigo;
}

.violet {
    background-color: violet;
}

  
.pencil.active {
    width: 10vw; 
}

.pencil-tip.active {
    margin-left: 2vw;
}